*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: hsl(0, 14%, 96%);
    width: 1500px;
    height: 100px;
}
#logo-head{
    width: 100px;
    height: 100px;;
}
h1{
    display: inline-block;
    font-size: 50px;
    font-style:normal;
    
    
}
main{
    background-color: rgb(159, 217, 246);
    height: 1000px;
    padding: 50px;
    padding-left: 30px;
    
    
}
.tab{
    width: 1000px;
    height: 600px;
    background-color: white;
    margin: auto;
    padding: 40px;
    
    border-radius: 10px;
    margin-top: 1px;
    
}
.botton{
    display: inline-block;
    padding-top: 10px;
    
}
#task{
    background: lightblue;
    border-bottom: 100%;
    width: 2000px;
    height: 200px;
    border-radius: 100px;
    
}
#section{
    background: rgb(179, 188, 192);
    border-bottom: 80%;
    width: 150px;
    height: 150px;
    border-radius: 100px;

}
  #editorial{
    background: lightblue;
    border-bottom: 100%;
    width: 2000px;
    height: 200px;
    border-radius: 100px;}
